parameters:
  level: 6
  paths:
    - .
  excludePaths:
    - vendor
    - node_modules
    - tests
  ignoreErrors:
    - identifier: missingType.generics
    - '#Constant PROGRESS_PLANNER_URL not found.#'
    - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ type has no value type specified in iterable type array.#'
    - '#Method [a-zA-Z0-9\\_\:\(\)]+ return type has no value type specified in iterable type array.#'
    - '#Method [a-zA-Z0-9\\_\:\(\)]+ has parameter \$[a-zA-Z0-9\\_]+ with no value type specified in iterable type array.#'
    - '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_badges\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_chart\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_date\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_lessons\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_page_types\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_query\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_settings\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_suggested_tasks\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_todo\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_onboard\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_cache\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_admin__page\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_activities__content_helpers\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_popovers__subscribe_form\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_popovers__badges\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_popovers__settings\(\).#'
    - '#Call to an undefined method Progress_Planner\\Base\:\:get_admin__dashboard_widget_score\(\).#'
