#progress_planner_dashboard_widget_score {

	.prpl-dashboard-widget {
		padding-top: 5px; /* Total 16px top spacing */
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-gap: calc(var(--prpl-gap) / 2);

		> div {
			border: 1px solid var(--prpl-color-gray-2);
			border-radius: var(--prpl-border-radius);
			font-size: 0.875rem;
			text-align: center;
			padding-bottom: 1em;
		}
	}

	h3 {
		font-weight: 500;
	}

	.prpl-suggested-task {

		h3 {
			margin-bottom: 0;
		}
	}

	.prpl-dashboard-widget-latest-activities {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid #c3c4c7; /* same color as the one WP-Core uses */
		li {
			display: flex;
			justify-content: space-between;
		}
	}

	.prpl-dashboard-widget-footer {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid #c3c4c7; /* same color as the one WP-Core uses */
		font-size: var(--prpl-font-size-base);
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
}
