#progress_planner_dashboard_widget_score {

	.prpl-dashboard-widget {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-gap: calc(var(--prpl-gap) / 2);
	}

	.prpl-gauge-number {
		font-size: var(--prpl-font-size-4xl);
	}

	h3 {
		font-weight: 500;
	}

	.prpl-dashboard-widget-latest-activities {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid #c3c4c7; /* same color as the one WP-Core uses */
		li {
			display: flex;
			justify-content: space-between;
		}
	}

	.prpl-dashboard-widget-footer {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid #c3c4c7; /* same color as the one WP-Core uses */
		font-size: var(--prpl-font-size-base);
		display: flex;
		gap: 1em;
		align-items: center;
	}
}
