/*------------------------------------*\
	Set variables.
\*------------------------------------*/
:root {
	--prpl-gap: 32px;
	--prpl-padding: 20px;
	--prpl-column-min-width: 22rem;
	--prpl-max-columns: 3;
	--prpl-border-radius: 8px;
	--prpl-border-radius-big: calc(var(--prpl-border-radius) * 2);

	--prpl-container-max-width: calc(var(--prpl-column-min-width) * var(--prpl-max-columns) + var(--prpl-gap) * (var(--prpl-max-columns) - 1) + var(--prpl-column-min-width));

	--prpl-color-gray-1: #e1e3e7;
	--prpl-color-gray-2: #d1d5db;
	--prpl-color-gray-3: #9ca3af;
	--prpl-color-gray-4: #6b7280;
	--prpl-color-gray-5: #4b5563;
	--prpl-color-gray-6: #374151;

	--prpl-color-accent-red: #f43f5e;
	--prpl-color-accent-orange: #faa310;
	--prpl-color-accent-purple: #0d6b9e;
	--prpl-color-accent-green: #14b8a6;

	--prpl-color-headings: #38296d;
	--prpl-color-text: var(--prpl-color-gray-5);
	--prpl-color-link: #1e40af;

	--prpl-color-notification-green: #16a34a;
	--prpl-color-notification-red: #e73136;

	--prpl-background-orange: #fff9f0;
	--prpl-background-purple: #f6f5fb;
	--prpl-background-green: #f2faf9;
	--prpl-background-red: #fff6f7;
	--prpl-background-blue: #effbfe;

	--prpl-font-size-xs: 0.75rem;     /* 12px */
	--prpl-font-size-small: 0.875rem; /* 14px */
	--prpl-font-size-base: 1rem;      /* 16px */
	--prpl-font-size-lg: 1.125rem;    /* 18px */
	--prpl-font-size-xl: 1.25rem;     /* 20px */
	--prpl-font-size-2xl: 1.5rem;     /* 24px */
	--prpl-font-size-3xl: 2rem;       /* 32px */
	--prpl-font-size-4xl: 3rem;       /* 48px */
	--prpl-font-size-5xl: 3.5rem;     /* 56px */
	--prpl-font-size-6xl: 4.5rem;     /* 72px */
}

/*------------------------------------*\
	Styles for the container of the page.
\*------------------------------------*/
.prpl-wrap {
	background: #fff;
	border: 1px solid var(--prpl-color-gray-2);
	border-radius: var(--prpl-border-radius);
	padding: calc(var(--prpl-padding) * 2);
	max-width: var(--prpl-container-max-width);
	color: var(--prpl-color-text);
	font-size: var(--prpl-font-size-base);
	line-height: 1.4;
	position: relative;
}

/*------------------------------------*\
	Generic styles.
\*------------------------------------*/
.prpl-wrap p {
	font-size: var(--prpl-font-size-base);
	color: var(--prpl-color-text);
	margin: var(--prpl-padding) 0;
}

.prpl-wrap h2:has(+ p) {
	margin-bottom: 0;
}

.prpl-wrap h2 + p {
	margin-top: 0.5em;
}

.prpl-wrap h1,
.prpl-wrap h2,
.prpl-wrap h3,
.prpl-wrap h4,
.prpl-wrap h5,
.prpl-wrap h6 {
	color: var(--prpl-color-headings);
}

.prpl-wrap a {
	color: var(--prpl-color-link);
}

.prpl-widget-title {
	margin-top: 0;

	&:has(.prpl-info-icon) {
		display: flex;
		justify-content: space-between;
	}
}

.prpl-hidden {
	display: none !important;
}

/*------------------------------------*\
	Info buttons.
\*------------------------------------*/
button.prpl-info-icon {
	background: none;
	border: none;
	color: var(--prpl-color-gray-4);
	cursor: pointer;
	font-size: var(--prpl-font-size-xs);
	padding: 0;
}

/*------------------------------------*\
	Header & logo.
\*------------------------------------*/
.prpl-header {
	margin-bottom: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.prpl-header-logo svg {
	height: 100px;
}

.prpl-header-right {
	display: flex;
	gap: var(--prpl-padding);
	align-items: center;
}

/*------------------------------------*\
	Charts container.
\*------------------------------------*/
.prpl-chart-container {
	position: relative;
	height: 100%;
	width: 100%;
	max-height: 300px;
}

/* Make sure the graph wrapper doesn't overflow the .prpl-widget-wrapper. */
.prpl-graph-wrapper:has(.prpl-chart-container) {
	max-height: 300px;
}

/*------------------------------------*\
	Layout for widgets.
\*------------------------------------*/
.prpl-widgets-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--prpl-column-min-width), 1fr));
	column-gap: var(--prpl-gap);
	grid-auto-rows: var(--prpl-gap);

	img {
		max-width: 100%;
		height: auto;
	}

	h3 {
		font-size: 1.15rem;
		margin-top: 0;
	}
}

/*------------------------------------*\
	Generic styles for individual widgets.
\*------------------------------------*/
.prpl-widget-wrapper {
	border: 1px solid var(--prpl-color-gray-2);
	border-radius: var(--prpl-border-radius);
	padding: var(--prpl-padding);
	min-width: 0;
	min-height: 0;
	margin-bottom: var(--prpl-gap);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.07), -2px 0 6px rgba(0, 0, 0, 0.07);

	hr {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

/*------------------------------------*\
	The big counters in widgets.
\*------------------------------------*/
.prpl-counter-big-wrapper {
	background-color: var(--prpl-background-purple);
	padding: var(--prpl-padding);
	border-radius: var(--prpl-border-radius-big);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	align-content: center;
	justify-content: center;
	height: calc(var(--prpl-font-size-5xl) + var(--prpl-font-size-2xl) + var(--prpl-padding) * 2);

	.counter-big-number {
		font-size: var(--prpl-font-size-5xl);
		line-height: 1;
		font-weight: 600;
	}

	.counter-big-text {
		font-size: var(--prpl-font-size-2xl);
	}
}

/*------------------------------------*\
	Generic styles for the graph wrappers.
\*------------------------------------*/
.prpl-graph-wrapper {
	position: relative;
	height: 100%;
}

/*------------------------------------*\
	Top notice - used above logo.
\*------------------------------------*/
.prpl-wrap .prpl-top-notice {
	margin-bottom: var(--prpl-gap);
	position: relative;

	button.prpl-button-primary {
		margin: 0;
		width: 250px;
	}

	button.prpl-close-button {
		border: none;
		width: 40px;
		height: 40px;
		position: absolute;
		right: 10px;
		top: 10px;
		background: none;
		cursor: pointer;
	}
}


/*------------------------------------*\
  Buttons
\*------------------------------------*/

.prpl-wrap input.prpl-button-primary,
.prpl-wrap input.prpl-button-secondary,
.prpl-wrap button.prpl-button-primary,
.prpl-wrap button.prpl-button-secondary {
	display: block;
	margin: 1em 0;
	padding: 1em;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: var(--prpl-font-size-base);
	background: var(--prpl-color-accent-red);
	box-shadow: none;
	border: none;
	border-radius: var(--prpl-border-radius);

	&:hover,
	&:focus {
		text-decoration: underline;
		box-shadow: 3px 3px 10px var(--prpl-color-accent-red);
	}
}

.prpl-wrap input.prpl-button-secondary,
.prpl-wrap button.prpl-button-secondary {
	background: var(--prpl-color-gray-3);

	&:hover,
	&:focus {
		background: var(--prpl-color-gray-4);
		box-shadow: 3px 3px 10px var(--prpl-color-gray-4);
	}
}

/*------------------------------------*\
	Popovers generic styles.
\*------------------------------------*/
.prpl-popover {
	background: #fff;
	border: 1px solid var(--prpl-color-gray-3);
	border-radius: var(--prpl-border-radius);
	padding: var(--prpl-padding);
	font-weight: 400;
	max-height: 82vh;

	p {
		font-weight: 400;
	}
}

::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

/*------------------------------------*\
	Popovers close button.
\*------------------------------------*/
.prpl-popover-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	cursor: pointer;
	background: none;
	border: none;
	color: var(--prpl-color-gray-4);

	&:hover,
	&:focus {
		color: var(--prpl-color-gray-6);
	}
}

/*------------------------------------*\
	Mobile styles.
\*------------------------------------*/

@media all and (max-width: 1024px) {

	.prpl-welcome .inner-content .right {
		display: none !important;
	}
}

/*------------------------------------*\
	Settings popover.
\*------------------------------------*/
#prpl-settings-license-form,
#prpl-settings-form {

	label {
		display: block;
	}

	p {
		max-width: 42em;
	}

	h3 {
		font-size: 1.15em;
	}

	button.button-primary {
		margin-top: 1em;
	}
}

.driver-popover.prpl-driverjs-theme {
	background-color: var(--prpl-background-orange);
	color: var(--prpl-color-text);

	.driver-popover-title {
		color: var(--prpl-color-headings);
	}

	button {
		color: var(--prpl-color-headings);
	}

	button:not(.driver-popover-close-btn):hover {
		background-color: var(--prpl-background-orange);
	}
}

#prpl-settings-license-form {

	label {
		display: grid;
		grid-template-columns: 1fr 3fr;
		margin-bottom: 0.5em;
		gap: var(--prpl-padding);
	}
}


/*------------------------------------*\
	Tooltip.
\*------------------------------------*/
.tooltip-actions {
	justify-content: flex-end;
	gap: 0.5em;
	display: flex;
	position: relative;
}

.prpl-tooltip {
	position: absolute;
	bottom: 0;
	left: 100%;
	transform: translate(-100%, calc(100% + 10px));

	padding: 0.75rem 1.5rem 0.75rem 0.75rem;
	width: 150px;
	background: var(--prpl-background-green);
	border-radius: var(--prpl-border-radius);
	z-index: 2; /* above the gauges */
	visibility: hidden; /* hidden by default */

	font-size: 1rem;
	font-weight: 400;
	color: var(--prpl-color-text);

	&[data-tooltip-visible] {
		visibility: visible;
	}

	.close,
	.prpl-tooltip-close {
		position: absolute;
		top: 0.75rem;
		right: 0;
		padding: 0.1rem;
		line-height: 0;
		margin: 0;
		background: none;
		border: none;
		cursor: pointer;
	}

	/* Arrow */
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-10px, -10px) rotate(90deg);

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7.5px 10px 7.5px 0;
		border-color: transparent var(--prpl-background-green) transparent transparent;
	}
}
