/*------------------------------------*\
	Set variables.
\*------------------------------------*/
.prpl-wrap {
	--prpl-gap: 32px;
	--prpl-padding: 20px;
	--prpl-column-min-width: 16rem;
	--prpl-column-max-width: 30rem;
	--prpl-max-columns: 4;
	--prpl-border-radius: 7px;

	--prpl-container-max-width: calc(var(--prpl-column-max-width) * var(--prpl-max-columns) + var(--prpl-gap) * (var(--prpl-max-columns) - 1));

	--prpl-color-gray-1: #e5e7eb;
	--prpl-color-gray-2: #d1d5db;
	--prpl-color-gray-3: #9ca3af;
	--prpl-color-gray-4: #6b7280;
	--prpl-color-gray-5: #4b5563;
	--prpl-color-gray-6: #374151;

	--prpl-color-accent-red: #f43f5e;
	--prpl-color-accent-orange: #faa310;
	--prpl-color-accent-purple: #0d6b9e;
	--prpl-color-accent-green: #14b8a6;

	--prpl-color-headings: #38296d;
	--prpl-color-text: var(--prpl-color-gray-6);
	--prpl-color-link: #1e40af;

	--prpl-color-notification-green: #16a34a;
	--prpl-color-notification-red: #e73136;

	--prpl-background-orange: #fff9f0;
	--prpl-background-purple: #f6f5fb;
	--prpl-background-green: #f2faf9;
	--prpl-background-red: #fff6f7;
	--prpl-background-blue: #effbfe;

	--prpl-font-size-xs: 0.75rem;     /* 12px */
	--prpl-font-size-small: 0.875rem; /* 14px */
	--prpl-font-size-base: 1rem;      /* 16px */
	--prpl-font-size-lg: 1.125rem;    /* 18px */
	--prpl-font-size-xl: 1.25rem;     /* 20px */
	--prpl-font-size-2xl: 1.5rem;     /* 24px */
	--prpl-font-size-3xl: 2rem;       /* 32px */
	--prpl-font-size-4xl: 3rem;       /* 48px */
	--prpl-font-size-5xl: 4rem;       /* 64px */
}

/*------------------------------------*\
	Styles for the container of the page.
\*------------------------------------*/
.prpl-wrap {
	background: #fff;
	border: 1px solid var(--prpl-color-gray-3);
	border-radius: var(--prpl-border-radius);
	padding: calc(var(--prpl-padding) * 2);
	max-width: var(--prpl-container-max-width);
	color: var(--prpl-color-text);
	font-size: var(--prpl-font-size-base);
	line-height: 1.4
}

/*------------------------------------*\
	Generic styles.
\*------------------------------------*/
.prpl-wrap p {
	font-size: var(--prpl-font-size-base);
}

.prpl-wrap h1,
.prpl-wrap h2,
.prpl-wrap h3,
.prpl-wrap h4,
.prpl-wrap h5,
.prpl-wrap h6 {
	color: var(--prpl-color-headings);
}

.prpl-wrap a {
	color: var(--prpl-color-link);
}

/*------------------------------------*\
	Charts container.
\*------------------------------------*/
.prpl-chart-container {
	position: relative;
	height: 100%;
	max-height: 500px;
}

/*------------------------------------*\
	Progress bar styles for the posts scanner.
\*------------------------------------*/
#progress-planner-scan-progress progress {
	width: 100%;
	min-height: 1px;
}

/*------------------------------------*\
	Layout for widgets.
\*------------------------------------*/
.prpl-widgets-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--prpl-column-min-width) * 2), 1fr));
	grid-gap: var(--prpl-gap);
}

.prpl-column-main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--prpl-column-min-width), 1fr));
	grid-gap: var(--prpl-gap);
}

.prpl-column {
	display: flex;
	flex-direction: column;
	gap: var(--prpl-gap);
}

/*------------------------------------*\
	Widgets with 2 columns.
\*------------------------------------*/
.two-col {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--prpl-column-min-width), 1fr));
	grid-gap: var(--prpl-padding);
}

.two-col.narrow {
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--prpl-column-min-width) / 2), 1fr));
}

/*------------------------------------*\
	Generic styles for individual widgets.
\*------------------------------------*/
.prpl-widget-wrapper {
	border: 1px solid var(--prpl-color-gray-2);
	border-radius: var(--prpl-border-radius);
	padding: var(--prpl-padding);
	display: flex;
	flex-direction: column;
}

/*------------------------------------*\
	The big counters in widgets.
\*------------------------------------*/
.prpl-wrap .counter-big-wrapper {
	background-color: var(--prpl-background-purple);
	padding: var(--prpl-padding);
	border-radius: var(--prpl-border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	align-content: center;
}

.prpl-wrap .counter-big-number {
	font-size: var(--prpl-font-size-5xl);
	line-height: 1;
	font-weight: 700;
}

.prpl-wrap .counter-big-text {
	font-size: var(--prpl-font-size-2xl);
}

/*------------------------------------*\
	Generic styles for the graph wrappers.
\*------------------------------------*/
.prpl-graph-wrapper {
	position: relative;
	height: 100%;
}

/*------------------------------------*\
	The wrapper for widgets that have a
	big counter at the top, and content at the bottom.
\*------------------------------------*/
.prpl-top-counter-bottom-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.prpl-top-counter-bottom-content .counter-big-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*------------------------------------*\
	Percent display for badges.
\*------------------------------------*/
.prpl-badge-wrapper .progress-percent {
	font-size: var(--prpl-font-size-3xl);
	line-height: 1;
	font-weight: 600;
	display: block;
	text-align: center;
}

/*------------------------------------*\
	Activity-score widget.
\*------------------------------------*/
.prpl-widget-wrapper.prpl-website-activity-score .two-col {
	grid-template-columns: 6fr 4fr;
}

.prpl-widget-wrapper.prpl-website-activity-score .prpl-gauge-number {
	font-size: var(--prpl-font-size-4xl);
	line-height: 1;
	margin-top: -1em;
}

.prpl-activities-gauge-container {
	padding: var(--prpl-padding);
	background: var(--prpl-background-orange);
	border-radius: var(--prpl-border-radius);
	aspect-ratio: 2 / 1;
	overflow: hidden;
	top: 50%;
}

.prpl-activities-gauge-container .prpl-gauge-number {
	display: block;
	padding-top: 50%;
	font-weight: 700;
	text-align: center;
	position: absolute;
	width: 100%;
	line-height: 2;
}

/*------------------------------------*\
	Activity scores
\*------------------------------------*/
.prpl-widget-wrapper.prpl-activity-scores .prpl-graph-wrapper {
	max-height: 300px;
}

/*------------------------------------*\
	Badges progress widget.
\*------------------------------------*/
.prpl-widget-wrapper.prpl-badges-progress .progress-label {
	display: inline-block;
}

.prpl-widget-wrapper.prpl-badges-progress .progress-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: calc(var(--prpl-gap) / 2);
}

.prpl-widget-wrapper.prpl-badges-progress .progress-wrapper .prpl-badge {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-width: 0;
}

.prpl-widget-wrapper.prpl-badges-progress .progress-wrapper {
	background-color: var(--prpl-background-blue);
	padding: calc(var(--prpl-padding) / 2);
	border-radius: var(--prpl-border-radius);
	margin-bottom: var(--prpl-padding);
}

.prpl-widget-wrapper.prpl-badges-progress .progress-wrapper p {
	margin: 0;
	font-size:var(--prpl-font-size-xs);
	text-align:center;
}

.prpl-widget-wrapper.prpl-badges-progress .progress-wrapper + .progress-wrapper {
	background-color: var(--prpl-background-orange);
}

/*------------------------------------*\
	Published content widget.
\*------------------------------------*/
.prpl-widget-wrapper.prpl-published-content .two-col {
	align-items: flex-start;
}

.prpl-widget-wrapper.prpl-published-content table {
	width: 100%;
	margin-bottom: 1em;
	padding: var(--prpl-padding) 0;
	border-top: 1px solid var(--prpl-color-gray-3);
	border-bottom: 1px solid var(--prpl-color-gray-3);
}

.prpl-widget-wrapper.prpl-published-content th {
	text-align: start;
}

.prpl-widget-wrapper.prpl-published-content th:not(:first-child),
.prpl-widget-wrapper.prpl-published-content td:not(:first-child) {
	padding: 0.5em;
	text-align: center;
}

.prpl-widget-wrapper.prpl-published-content tr:nth-child(even) {
	background-color: var(--prpl-background-purple);
}

.prpl-widget-wrapper.prpl-published-content tr:last-child td {
	border-bottom: none;
}

/*------------------------------------*\
	Individual badge widgets.
\*------------------------------------*/
.prpl-badges-columns-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--prpl-padding);
}

.prpl-badge-gauge,
.prpl-activities-gauge {
	--background: var(--prpl-background-blue);
	--cutout: 50%;
	--max: 270deg;
	--start: -135deg;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	position: relative;
	background:
		radial-gradient( var(--background) 0 var(--cutout), transparent var(--cutout) 100% ),
		conic-gradient(
			from var(--start),
			var(--color) calc( var(--max) * var(--value) ),
			var(--prpl-color-gray-1) calc( var(--max) * var(--value) ) var(--max),
			transparent var(--max)
		);
	text-align: center;
}

.prpl-badge-gauge svg {
	aspect-ratio: 1.15;
}

.prpl-badge-wrapper {
	background: var(--prpl-background-blue);
	padding: var(--prpl-padding);
	border-radius: var(--prpl-border-radius);
}

/*------------------------------------*\
	Personal record widget.
\*------------------------------------*/
.prpl-widget-wrapper.prpl-personal-record-content .counter-big-wrapper {
	background-color: var(--prpl-background-green);
}

/*------------------------------------*\
	What's new widget.
\*------------------------------------*/
.prpl-widget-wrapper.prpl-whats-new li > a {
	color: var(--prpl-color-gray-6);
	text-decoration: none;
}

.prpl-widget-wrapper.prpl-whats-new li > a:active,
.prpl-widget-wrapper.prpl-whats-new li > a:focus,
.prpl-widget-wrapper.prpl-whats-new li > a:hover,
.prpl-widget-wrapper.prpl-whats-new li > a > h3 {
	text-decoration: underline;
}

/*------------------------------------*\
	Latest badge widget.
\*------------------------------------*/
.prpl-badge-wrapper.prpl-badge-latest {
	background: var(--prpl-background-blue);
	padding: var(--prpl-padding);
	border-radius: var(--prpl-border-radius);
	border: 1px solid var(--prpl-color-accent-green);
}

.prpl-badge-wrapper.prpl-badge-latest .badge-svg {
	align-self: start;
}
