.prpl-widget-wrapper.prpl-activity-scores {

	.prpl-graph-wrapper {
		max-height: 300px;
	}

	.prpl-gauge-number {
		font-size: var(--prpl-font-size-6xl);
		top: -1em;
		display: block;
		padding-top: 50%;
		font-weight: 600;
		text-align: center;
		position: absolute;
		color: var(--prpl-color-gray-5);
		width: 100%;
		line-height: 1.2;
	}
}

.prpl-activities-gauge-container.activities-scores {
	padding: var(--prpl-padding);
	background: var(--prpl-background-orange);
	border-radius: var(--prpl-border-radius);
	aspect-ratio: 2 / 1;
	overflow: hidden;
	position: relative;
	margin-bottom: var(--prpl-padding);

	.prpl-gauge-0,
	.prpl-gauge-100 {
		font-size: var(--prpl-font-size-small);
		position: absolute;
		top: 50%;
		color: var(--prpl-color-gray-5);
		width: 10%;
		text-align: center;
	}

	.prpl-gauge-0 {
		left: 0;
	}

	.prpl-gauge-100 {
		right: 0;
	}
}

.prpl-personal-record-content.prpl-counter-big-wrapper {
	background-color: var(--prpl-background-green);
}
