.prpl-widget-wrapper.prpl-activity-scores {

	.prpl-graph-wrapper {
		max-height: 300px;
	}
}

.prpl-personal-record-content.prpl-counter-big-wrapper {
	margin-bottom: var(--prpl-padding);
	background-color: var(--prpl-background-green);
}
