.get-pro-link {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--prpl-color-accent-red);
	color: #fff !important;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	border-radius: 0.25rem;
	box-sizing: border-box;
	font-size: var(--prpl-font-size-xl);
	border: 2px solid transparent;
	outline: 2px solid transparent;
	transition: all 0.2s ease-in-out;

	&:hover {
		outline: 2px solid var(--prpl-color-accent-red);
	}
}
