.prpl-widget-wrapper.prpl-latest-badge {

	img {
		border: 1px solid var(--prpl-color-gray-2);
		border-radius: var(--prpl-border-radius);
	}

	.share-badge-wrapper {
		padding-top: 1rem;
		display: flex;
		justify-content: flex-end;
	}

	.prpl-button-share-badge {
		display: flex;
		align-items: center;
		gap: 0.5em;
		text-decoration: none;
		color: var(--prpl-color-gray-7);
		border: 1px solid var(--prpl-color-gray-2);
		border-radius: var(--prpl-border-radius);
		padding: 0.5em 1em;
	}
}
