.prpl-widget-wrapper.prpl-published-content {

	table {
		width: 100%;
		margin-bottom: 1em;
	}

	th,
	td {
		border: none;

		&:not(:first-child) {
			padding: 0.5em;
			text-align: center;
		}
	}

	th {
		text-align: start;
		border-bottom: 1px solid var(--prpl-color-gray-3);
	}

	tr:nth-child(even) {
		background-color: #f9fafb;
	}

	tr:last-child td {
		border-bottom: none;
	}
}
