.prpl-widget-wrapper.prpl-todo {
	padding-left: 0;

	> * {
		padding-left: var(--prpl-padding);
	}

	.prpl-widget-title {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background: var(--prpl-background-red);
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;

		.icon {
			width: 1.25em;
			height: 1.25em;
		}
	}
}

#create-todo-item {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 1em;

	button {
		border: 1.5px solid;
		border-radius: 50%;
		background: none;
		box-shadow: none;
		color: var(--prpl-color-gray-3);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.2em;

		.dashicons {
			font-size: 0.825em;
			width: 1em;
			height: 1em;
		}
	}
}

#new-todo-content {
	flex: 1;
	min-width: 0;
}

#todo-list {
	list-style: none;
	padding: 0;
	max-height: 30em;
	overflow-y: auto;
	margin: 0 0 0.5em calc(var(--prpl-padding) * -1);

	li {
		position: relative;
		display: flex;
		align-items: self-start;
		font-size: 14px;

		&.ui-sortable-helper {
			left: auto !important; /* Override the left: 0; from the jquery-ui-sortable */
		}

		.content {
			padding: 0;
			margin-top: 2px;
			margin-left: 1em;
			margin-right: 0.5em;
			width: 100%;
			display: border-box;
			border-bottom: 1.5px solid transparent;
		}

		input {
			margin: 4px 5px 0 2px;
			flex-shrink: 0;

			&[type="checkbox"]:checked::before {
				content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%2316a34a%27%2F%3E%3C%2Fsvg%3E");
			}
		}

		.trash,
		.move-up,
		.move-down {
			opacity: 0;
			padding: 0;
			border: 0;
			background: none;
			color: var(--prpl-color-gray-3);
			cursor: pointer;
			box-shadow: none;
			transition: all 0.1s;
			margin-top: 1px;

			&:hover {
				color: var(--prpl-color-accent-red);
			}
		}

		.move-up,
		.move-down {

			&:hover {
				color: var(--prpl-color-accent-green);
			}
		}

		:not(:focus-within):has(:checked) .content {
			opacity: 0.5;
			text-decoration: line-through;
		}

		&:focus-within .content {
			outline: none;
			border-bottom: 1.5px solid var(--prpl-color-gray-3);
		}

		&:hover,
		&:focus-within {

			.trash,
			.move-up,
			.move-down {
				opacity: 1;
			}

			.prpl-todo-drag-handle {
				opacity: 1;
			}
		}

		&:first-child .move-up,
		&:last-child .move-down {
			display: none;
		}
	}
}

.prpl-todo-drag-handle {
	width: var(--prpl-padding);
	display: flex;
	opacity: 0;
}

/*------------------------------------*\
	Progress Planner TODO Dashboard widget styles.
\*------------------------------------*/
#progress_planner_dashboard_widget_todo {

	#todo-list {
		margin-left: -5px;
	}

	#create-todo-item {
		padding: 0 16px;
	}
}

#prpl-dashboard-widget-todo-header {
	display: flex;
	gap: 1em;
	align-items: center;
	margin-bottom: 1em;
	padding: 0 16px;

	p {
		font-size: 14px;
	}
}
